@{
    ViewData["Title"] = "Welcome!";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Alien Adoption Agency!</h1>
    <p class="lead">Because everyone deserves a squishy, sparkly, or slightly slimy best friend.</p>
    <img src="~/images/happy.jpg" alt="Alien Family" class="img-fluid rounded" style="max-height: 300px;" />

    <hr class="my-4">
     
    <h2>Why Adopt an Alien?</h2>
    <ul class="list-unstyled">
        <li>
            🌌 They come with their own UFO (Unconditional Friendly Optimism).
        </li>
        <li>
            🍬 Most come pre-potty trained (some exceptions apply for gelatinous species).
        </li>
        <li>
            👽 Your neighbor's dog will never bark at your house again.
        </li>
        <li>
            🚀 Owning an alien is scientifically proven* to make you 47% cooler.
        </li>
    </ul>
    <p class="text-muted">*Data not yet confirmed by any actual scientist.</p>

    <hr class="my-4">

    <h2>Meet Your Future Friend!</h2>
    <p>
        Check out our galactic roster of lovable aliens who are looking for forever homes!
    </p>

    <a asp-controller="Aliens" asp-action="Adoptables" class="btn btn-success btn-lg">
        🛸 Browse Aliens
    </a>

    <hr class="my-4">

</div>