@model IEnumerable<Alien>
@{
    ViewData["Title"] = "Adoptables";
}

<h1>Available Aliens for Adoption</h1>
<div class="table-responsive">
    <table class="table table-dark text-white">
    <thead>
        <tr class="font-monospace">
            <th>Name</th>
            <th>Species</th>
            <th>Planet</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alien in Model)
        {
            <tr>
                <td>@alien.Name</td>
                <td>@alien.Species</td>
                <td>@alien.Planet</td>
                <td>
                    <a asp-controller="Aliens" asp-action="Details" asp-route-id="@alien.AlienId" class="btn btn-primary">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
