@model ToDoListSearchViewModel

@{
    ViewData["Title"] = "Search – TODO";
}

<div class="container">
    <h1 class="display-4 text-center mb-3">Search</h1>
    <a asp-action="Create" asp-controller="ToDoList" class="btn btn-success mb-3">New List</a>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="row mb-3">
                            <label asp-for="TitleFilter" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="TitleFilter" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary mb-2">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @if ((string.IsNullOrWhiteSpace(Model.TitleFilter)) || (Model.ToDoLists == null || !Model.ToDoLists.Any()))
    {
        <div class="card border-warning mb-3">
            <div class="card-header">No TODO lsists found</div>
            <div class="card-body">
                <p class="card-text">Fill in a search term (or nothing) and click on the button to show the matching TODO lists</p>
            </div>
        </div>
    }
    

    @if (Model.ToDoLists != null && Model.ToDoLists.Any())
    {
        <div class="row mb-3">
            <div class="col-12">
                <h4>Results</h4>
                @foreach (var list in Model.ToDoLists)
                {
                    <div class="card my-1">
                        <div class="card-body">
                            <h5 class="card-title">@list.Title</h5>
                            <a asp-controller="ToDoList" asp-action="Detail" asp-route-id="@list.Id" class="btn btn-outline-primary">Show details</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>